---
const {navItems} = Astro.props;
---

<script>
var burgerMenu = document.getElementById('burger-menu');

var overlay = document.getElementById('menu');

burgerMenu.addEventListener('click', function() {
  this.classList.toggle("close");
  overlay.classList.toggle("overlay");
});
</script>

<div id="burger-menu" class="hidden-desktop-only">
    <span></span>
  </div>
  
  <div id="menu">
    <ul>
        {navItems.map(({title, href}) => (
       <li>
         <a {href}>{title}</a></li>
         ))}
     </ul>
  </div>