---
const { navItems } = Astro.props
---

<div id="burger-menu" class="hidden-desktop-only">
  <span></span>
</div>

<div id="menu">
  <ul>
    {
      navItems.map(({ title, href }) => (
        <li>
          <a href={`#${href}`}>{title}</a>
        </li>
      ))
    }
  </ul>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    let burgerMenu = document.getElementById('burger-menu')
    let overlay = document.getElementById('menu')

    function openMenu() {
      document.body.style.overflow = 'hidden'
      burgerMenu.classList.add('close')
      overlay.classList.add('overlay')
    }

    function closeMenu() {
      document.body.style.overflow = ''
      burgerMenu.classList.remove('close')
      overlay.classList.remove('overlay')
    }

    burgerMenu.addEventListener('click', openMenu)
    overlay.addEventListener('click', closeMenu)
  })
</script>
