.swiper {
    width: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 100% !important;
    height: 100% !important;

    @include vp-1024 {
        width: 350px !important;
        height: 450px !important;
    }
}

.swiper-slide img {
    display: block;
    width: 100%;
}

.swiper-pagination-bullet {
    background-color: #AAC528 !important;
    border: 1px solid #343432;
    width: 20px !important;
    height: 20px !important;
    opacity: 1;
}

.zertifikat {
    h2 {
        font-size: 1.5rem;
        font-weight: 500;
    }
}