---
import Container from "@components/Container/Container";


---

<Container>
            <h2 class="section-header" id="about">ÜBER MICH</h2>
            <div class="section-content">
                <p>
                    Hallo ihr Lieben! 
             
            Mein Name ist Hannah Lehmann, ich wurde 1979 geboren und wohne mit meinem Mann und meinen Kindern im Herzen von Köln.
            Schon als Jugendliche war ich fasziniert von allen Themen rund um die Geburt. Einer befreundeten Hebamme fragte ich immer Löcher in den Bauch und schon ganz früh wusste ich, ich möchte unbedingt Kinder haben. Jetzt habe ich das große Glück dreifache Mama zu sein. 
            Anfang 2020 habe ich mich dann entschlossen, doch noch dieser Faszination nachzugehen. Darüber bin ich sehr glücklich!
            Als selbstständige Stillberaterin und Doula arbeite ich in Köln und Umgebung und bin Stillberaterin im Kölner Geburtshaus Ehrenfeld.
                </p>
    </div>
</Container>
