---
import Container from "@components/Container/Container";
import instaImage from "../../images/instagram.gif"
import facebookImage from "../../images/facebook.gif"
import whatsappImage from "../../images/whatsapp.gif"




---

<div>
    
<div class="wave" id="wave"></div>
<Container><h2 class="section-header" id="kontakt">KONTAKT</h2></Container>
    <div class="kontakt">
        <Container>
            <div class="kontakt-wrapper">
            <div class="kontakt-item">
                <img src={instaImage.src} alt="Instagram Icon" width="50" height="50">
                <a href="https://www.instagram.com/">https://www.instagram.com/</a>
            </div>
            <div class="kontakt-item">
                <img src={facebookImage.src} alt="Facebook Icon" width="50" height="50">
                <a href="https://www.facebook.com/">https://www.facebook.com/</a>
            </div>
            <div class="kontakt-item">
                <img src={whatsappImage.src} alt="Facebook Icon" width="50" height="50">
                <a href="tel:+4915256600444">+49 15256600444</a>
            </div>
            </div>
        </Container>
    </div>
</div>