---
import Container from '@components/Container/Container'
import aboutImg from '../../images/esther-foto.jpg'
import { Picture } from 'astro:assets'
---

<Container>
  <h2 class="section-header" id="about">ÜBER MICH</h2>
  <div class="section-content about">
    <div class="about__wrapper">
      <Picture
        class="about__img"
        src={aboutImg}
        alt="Example image."
        quality={'high'}
        formats={['webp']}
        fallbackFormat="jpg"
        width={400}
        densities={[2]}
      />
      <p class="w-2/4">
        <strong>Hallo ihr Lieben!</strong>
        <br />
        Ich bin Esther, 1992 geboren, verheiratet und Mama von zwei Jungs. Fast mein
        ganzes Leben habe ich in Kestert verbracht und arbeite hauptberuflich im
        Büro. Während meiner ersten Stillzeit habe ich mir viel Wissen angeeignet.
        Ich habe Fehler gemacht, bin auf Unverständnis gestoßen und habe viele gut
        gemeinte Ratschläge bekommen, die für mich nicht passten. Vor allem die Erfahrung,
        als Einzige in meinem Umfeld lange zu stillen, hat in mir den Wunsch geweckt,
        anderen Müttern zu helfen, ihnen einen besseren Stillstart zu ermöglichen
        und zu vermitteln, wie wertvoll Muttermilch auch nach der Beikost Einführung
        ist. Während meiner zweiten Elternzeit habe ich meine Ausbildung zur zertifizierten
        Stillberaterin begonnen und 2024 erfolgreich abgeschlossen.
      </p>
    </div>
  </div>
</Container>
