---
import Layout from '@layouts/root/root'
---

<Layout title="Impresuum">
  <main>
    <div class="max-w-3xl mx-auto p-6 bg-white shadow-lg rounded-lg">
      <!-- Title -->
      <h1 class="text-3xl font-bold text-[#AAC528] mb-6">Impressum</h1>

      <!-- Section: Name and Address -->
      <div class="mb-6">
        <h2 class="text-xl font-semibold text-[#343432]">Esther Isselbächer</h2>
        <p class="text-[#343432]">
          Obergasse, 10<br />
          56348 Kestert
        </p>
      </div>

      <!-- Section: Contact -->
      <div class="mb-6">
        <h2 class="text-xl font-semibold text-[#343432]">Kontakt</h2>
        <p class="text-[#343432]">
          Telefon: 015256600444<br />
          E-Mail: <a
            href="mailto:stillberatung.esther@web.de"
            class="text-[#AAC528]">stillberatung.esther@web.de</a
          >
        </p>
      </div>

      <!-- Section: EU-Streitschlichtung -->
      <div class="mb-6">
        <h2 class="text-xl font-semibold text-[#343432]">
          EU-Streitschlichtung
        </h2>
        <p class="text-[#343432]">
          Die Europäische Kommission stellt eine Plattform zur
          Online-Streitbeilegung (OS) bereit:
          <a
            href="https://ec.europa.eu/consumers/odr/"
            target="_blank"
            class="text-[#AAC528]">https://ec.europa.eu/consumers/odr/</a
          ><br />
          Unsere E-Mail-Adresse finden Sie oben im Impressum.
        </p>
      </div>

      <!-- Section: Verbraucherstreitbeilegung -->
      <div class="mb-6">
        <h2 class="text-xl font-semibold text-[#343432]">
          Verbraucher­streit­beilegung/Universal­schlichtungs­stelle
        </h2>
        <p class="text-[#343432]">
          Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren
          vor einer Verbraucherschlichtungsstelle teilzunehmen.
        </p>
      </div>

      <!-- Section: Zentrale Kontaktstelle nach DSA -->
      <div class="mb-6">
        <h2 class="text-xl font-semibold text-[#343432]">
          Zentrale Kontaktstelle nach dem Digital Services Act - DSA (Verordnung
          (EU) 2022/265)
        </h2>
        <p class="text-[#343432]">
          Unsere zentrale Kontaktstelle für Nutzer und Behörden nach Art. 11, 12
          DSA erreichen Sie wie folgt:
        </p>
        <p class="text-[#343432]">
          E-Mail: <a
            href="mailto:stillberatung.esther@web.de"
            class="text-[#AAC528]">stillberatung.esther@web.de</a
          ><br />
          Telefon: 015256600444
        </p>
        <p class="text-[#343432]">
          Die für den Kontakt zur Verfügung stehenden Sprachen sind: Deutsch,
          Englisch.
        </p>
      </div>

      <!-- Footer Section -->
      <p class="text-[#343432]">
        Quelle:
        <a
          href="https://www.e-recht24.de"
          target="_blank"
          class="text-[#AAC528]">e-recht24.de</a
        >
      </p>
    </div>
  </main>
</Layout>
