---
import Banner from '@components/Banner/Banner'
import Leistungen from '@components/Leistungen/Leistungen'
import Modal from '@components/Modal/Modal'
import Welcome from '@components/Welcome/Welcome'
import Kontakt from '@components/Kontakt/Kontakt'
import myImage from '@images/rosa-background.jpg'
import MainLayout from '@layouts/Main/Main'
import { Picture } from 'astro:assets'
---

<MainLayout title="Главная">
    <Banner></Banner>
    <Welcome></Welcome>
    <Leistungen></Leistungen>
    <Kontakt></Kontakt>
    

    

    
    <!--
      Миксин генерирует все изображения из изначальной картинки (х1, х2, webp, avif)
      нужно только изначально прокинуть картинку х2

      п.с. удалите коммент при подготовке проекта
    -->
  <!--
    <Picture
      src={myImage}
      alt="Example image."
      quality={'high'}
      formats={['webp']}
      fallbackFormat="jpg"
      width={800}
      densities={[2]}
    />
    <p>hello</p>
   -->

  <Fragment slot="modals">
    <Modal name="example">
      <h1>Example modal</h1>
    </Modal>
  </Fragment>
</MainLayout>
