.header {
  border-bottom: 2px solid rosybrown;
  display: flex;
  align-items: center;

  width: 100%;
  height: 80px;

  &__wrapper {
    display: flex;  
    justify-content: space-between;
  }

  &__menu {
    display: flex;
    align-items: center;
  }

  &__menu ul {
    list-style: none;
  }

}
