---
const { navItems } = Astro.props
---

<nav class="hidden-tablet-only hidden-mobile-only menu-desktop">
  <ul>
    {
      navItems.map(({ title, href }) => (
        <li>
          <a href={`#${href}`}>{title}</a>
        </li>
      ))
    }
  </ul>
</nav>
