---
import Container from '../Container/Container.astro';
---
<Container>
  <h2 class="section-header vision" id="vision">VISION</h2>
  <blockquote class="vision__quote">Stillen ist so viel mehr als nur Nahrungsaufnahme</blockquote>
  <p>Es bedeutet Sicherheit für dein Baby, vertrauen und Geborgenheit. Es deckt all die Grundbedürfnisse, die dein Baby in den ersten Wochen und Monaten hat, ab. Es stillt den Hunger, Durst, bringt uneingeschränkte Nähe, Wärme, den richtigen Herzrhythmus, hilft deinem neugeborenen den Tag besser zu verarbeiten und schützt es vor Krankheiten. Stillen bringt unglaublich viele Vorteile mit sich. Unsere Gesellschaft hat aus dem Thema stillen etwas seltenes gemacht, viel zu oft wird es sexualisiert, als ekelhaft, nicht mehr zeitgemäß oder als nicht notwendig angesehen. Das stimmt nicht. Stillen ist das natürlichste, was es gibt. Viele Mütter greifen aufgrund falscher Beratung oder Einflüssen aus dem näheren Umfeld auf industriell hergestellte Säuglingsnahrung. Industriell hergestellt... obwohl wir bestens dazu ausgestattet sind unser Baby selbst, kostenfrei, mit allem was es braucht zu versorgen. All das und noch vieles mehr möchte ich dir auf den Weg geben, damit du und dein Baby eine wunderbare, innige Stillbeziehung erfahren könnt.</p>
</Container>
