---
import Container from '../Container/Container.astro';
---
<Container>
  <h2 class="section-header vision" id="vision">VISION</h2>
  <blockquote class="vision__quote">Stillen ist so viel mehr als nur Nahrungsaufnahme</blockquote>
  <p>Dein Baby zu stillen bedeutet Sicherheit, vertrauen und Geborgenheit. Es deckt all die Grundbedürfnisse, die dein Baby in den ersten Wochen
    und Monaten hat. Es stillt den Hunger, Durst, bringt uneingeschränkte Nähe, Wärme und hilft deinem Neugeborenen den richtigen
    Herzrhythmus zu halten und den Tag mit all seinen Aufregenden neuen Eindrücken besser zu verarbeiten. Zudem schützt es vor Krankheiten
    und beugt diese vor. Stillen bringt unglaublich viele Vorteile mit sich. Muttermilch ist kostenlos, immer perfekt temperiert und überall, zu jeder
    Zeit, verfügbar. Unsere Gesellschaft hat aus dem Thema stillen etwas Seltenes gemacht, viel zu oft wird es sexualisiert, als ekelhaft oder nicht
    mehr zeitgemäß bezeichnet und als nicht notwendig angesehen. Das stimmt nicht. Stillen ist das natürlichste, was es gibt. Viele Mütter greifen
    aufgrund falscher Beratung oder Fremdeinwirkung aus dem näheren Umfeld auf industriell hergestellte Säuglingsnahrung. Industriell
    hergestellt... obwohl wir bestens dazu ausgestattet sind unser Baby selbst, kostenfrei, mit allem, was es braucht, zu versorgen. „Ich konnte
    leider nicht stillen“
    – LEIDER… Leider höre ich das viel zu oft. Dabei sind es oft Kleinigkeiten, die dazu geführt haben, warum das Stillen nicht
    funktioniert hat. Kleine Probleme, die mit einer fachgerechten Beratung und Hilfestellung gelöst werden können. Mit dem Ergebnis, dass eine
    Wunderbare Stillbeziehung geschaffen wird. Wunde Brustwarzen, fehlender Milcheinschuss, Brustverweigerung, Milchstau und
    Brustentzündungen, Probleme bei der Gewichtszunahme des Babys, Stillstreik, gefühltes Dauerstillen … Das alles sind Dinge, bei denen ich
    dir liebend gerne helfe. Damit auch Du deine kostbare Stillzeit mit deinem kleinen Schatz genießen kannst. Trau dich und frage um Hilfe. Du
    bist nicht allein. Statistisch gesehen hören 90% der stillenden Mütter in den ersten Wochen auf zu stillen, weil sie eines der oben genannten
    Probleme nicht allein bewältigen können. Das muss nicht sein. Wir fragen im Alltag bei so vielen Sachen um Hilfe, wir Googlen nach richtigen
    Waschtemperaturen der Wäsche, nach Kochrezepten oder nach stillfreundlichen Babyflaschen und Schnullern. Warum fragen dann so wenige
    Mütter um Hilfe bei einem so wichtigen Thema?
    All das und noch vieles mehr möchte ich dir mit auf den Weg geben, damit du und dein Baby eine wunderbare, innige Stillbeziehung erfahren
    könnt.</p>
</Container>
