---
import { Icon } from 'astro-icon/components'

const {leistung} = Astro.props;
---

<div class="leistung">
    <div>
        <h3>{leistung.title}</h3>
    </div>

<div>
    <p>{leistung.content}</p>
</div>
    
</div>