---
import logoBackground from '../../images/familie-banner.jpg'
import { Picture } from 'astro:assets';
---

<div class="banner" id="welcome">
  <div class="banner__wrapper">
    <Picture
      class="banner__bg"
      src={logoBackground}
      alt="Example image."
      quality={'high'}
      formats={['webp']}
      fallbackFormat="jpg"
      width={800}
      densities={[2]}
    />
    <div class="banner__info">
      <h1>Mein Name ist Esther Isselbächer</h1>
      <h2> Ich bin zertifizierte Stillberaterin und möchte der Welt mitteilen, dass stillen so viel mehr als nur Nahrungsaufnahme bedeutet.</h2>
      <a class="button-link" href="#about">More about me</a>
    </div>
  </div>
  <div class="curve"></div>
</div>
