---
import logoBackground from '../../images/familie-banner.jpg'
import { Picture } from 'astro:assets'
---

<div class="banner" id="welcome">
  <div class="banner__wrapper">
    <Picture
      data-aos="fade-right"
      class="banner__bg"
      data-aos-duration="1500"
      src={logoBackground}
      alt="Example image."
      quality={'high'}
      formats={['webp']}
      fallbackFormat="jpg"
      width={800}
      densities={[2]}
    />
    <div class="banner__info" data-aos="fade-left" data-aos-duration="1500">
      <h1>Hallo und herzlich willkommen</h1>
      <p>
        Ich bin Esther, zertifizierte Stillberaterin, und habe meinen Traum zum
        Beruf gemacht. Stillen ist so viel mehr als reine Nahrungsaufnahme – es
        bedeutet Nähe, Geborgenheit und Verbundenheit. Ich begleite werdende und
        frischgebackene Eltern auf ihrem Stillweg. In meinen
        Stillvorbereitungskursen und individuellen Beratungen helfe ich dir mit
        wertvollen Tipps, damit das Stillen von Anfang an entspannt klappt.
        &#128149
      </p>
      <a class="button-link" href="#about">Lerne mich besser kennen</a>
    </div>
  </div>
  <div class="curve"></div>
</div>
