---
import { fade } from "astro:transitions";
import logoBackground from "../../images/logo-transparent-png.png"
import { getImage } from "astro:assets";
const optimizedBackground = await getImage({src: logoBackground, format: 'webp'})
---

<div class="banner">
    <div class="banner__wrapper">
        <div class="banner__bg" style={`background-image: url(${optimizedBackground.src});`} ></div>
        <div class="banner__info" transition:animate={fade()}>
            <h1>Hi, I'm Esther Isselbächer</h2>
            <h2>I'm specialized in women's mental health, here to help you understand and prioritize yourself.</h3>
            <button>More about me</button>
        </div>
    </div>
    <div class="curve"></div>
</div>