---
import logoBackground from '../../images/familie-banner.jpg'
import { Picture } from 'astro:assets'
---

<div class="banner" id="welcome">
  <div class="banner__wrapper">
    <Picture
      class="banner__bg"
      src={logoBackground}
      alt="Example image."
      quality={'high'}
      formats={['webp']}
      fallbackFormat="jpg"
      width={800}
      densities={[2]}
    />
    <div class="banner__info">
      <h1>Hallo und herzlich willkommen</h1>
      <p>
        Ich bin Esther, zertifizierte Stillberaterin, und habe meinen Traum zum
        Beruf gemacht. Stillen ist so viel mehr als reine Nahrungsaufnahme – es
        bedeutet Nähe, Geborgenheit und Verbundenheit. Ich begleite werdende und
        frischgebackene Eltern auf ihrem Stillweg. In meinen
        Stillvorbereitungskursen und individuellen Beratungen helfe ich dir mit
        wertvollen Tipps, damit das Stillen von Anfang an entspannt klappt.
        &#128149
      </p>

      <div class="mt-4">
        <h2>&#127775 Was du bei mir bekommst:</h2>
        <ul>
          <li>
            <span>&#9989</span><p>
              Stillvorbereitungskurse für werdende Eltern
            </p>
          </li>
          <li>
            <span>&#9989</span><p>Persönliche Beratung nach der Geburt</p>
          </li>
          <li>
            <span>&#9989</span><p>
              Praktische Tipps & Lösungen für Stillprobleme
            </p>
          </li>
        </ul>
      </div>
      <a class="button-link" href="#about">More about me</a>
    </div>
  </div>
  <div class="curve"></div>
</div>
