---
import { fade } from "astro:transitions";
import logoBackground from "../../images/frau.jpg"
import { getImage } from "astro:assets";
import { Picture } from 'astro:assets';
---

<div class="banner" id="welcome">
    <div class="banner__wrapper">
      <Picture
      class="banner__bg"
      src={logoBackground}
      alt="Example image."
      quality={'high'}
      formats={['webp']}
      fallbackFormat="jpg"
      width={800}
      densities={[2]}
    />
        <div class="banner__info">
            <h1>Hi, I'm Esther Isselbächer</h2>
            <h2>I'm specialized in women's mental health, here to help you understand and prioritize yourself.</h3>
            <a class="button-link" href="#about">More about me</a>
        </div>
    </div>
    <div class="curve"></div>
</div>