---
import logoBackground from '../../images/familie-banner.jpg'
import { Picture } from 'astro:assets';
---

<div class="banner" id="welcome">
  <div class="banner__wrapper">
    <Picture
      class="banner__bg"
      src={logoBackground}
      alt="Example image."
      quality={'high'}
      formats={['webp']}
      fallbackFormat="jpg"
      width={800}
      densities={[2]}
    />
    <div class="banner__info">
      <h1>Hallo! Schön, dass Du da bist!</h1>
      <h2>Ich heiße Esther und bin zertifizierte Stillberaterin.
        Ich habe meinen Traum zum Beruf gemacht, weil ich
        der Welt mitteilen möchte, dass stillen so viel mehr
        bedeutet als nur Nahrungsaufnahme. Wenn du mehr
        darüber erfahren möchtest, dann bist du bei mir
        genau richtig!</h2>
      <a class="button-link" href="#about">More about me</a>
    </div>
  </div>
  <div class="curve"></div>
</div>
