@property --gap{
    syntax: '<length>';
    inherits: true;
    initial-value: 0;
  }
  @property --angle{
    syntax: '<angle>';
    inherits: true;
    initial-value: 0deg;
  }

.banner {
    // background:  linear-gradient(44.8deg, rgba(255, 136, 102, 0.67) -53.1%, rgba(255, 221, 136, 0.28) 49%);
    background-color: #D4D6C9;
    position: relative;
    color: white;
    margin-bottom: 150px;

    button {
        width: 60%;
    }

    &__wrapper {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        height: 40rem;
        align-items: center;
        flex-wrap: wrap;

        @include  vp-768 {
           flex-direction: row;
           justify-content: space-between;
           height: 45rem;
           width: 80%;
        }
    }

      img {
        --border: 15px;
        --gap: 12px;
        --color: #AAC528;
        width: 100%;
        
        box-sizing: border-box;
        border-radius: 50%;
        cursor: pointer;
        padding: calc(var(--border) + var(--gap));
        
        --angle: 90deg;
        background:
          radial-gradient(farthest-side,var(--color) 97%,#0000 101%) 85.35% 85.35%,
          conic-gradient(from calc(180deg - var(--angle)/2),#0000 var(--angle),var(--color) 0),
          radial-gradient(farthest-side,var(--color) 97%,#0000 101%) 14.65% 85.35%;
        background-size: var(--border) var(--border),auto;
        background-repeat: no-repeat;
        
        -webkit-mask:
          radial-gradient(farthest-side, 
           #000  calc(99%  - calc(var(--border) + var(--gap))),
           #0000 calc(100% - calc(var(--border) + var(--gap))) 
                 calc(99%  - var(--border)), 
           #000  calc(100% - var(--border)));
                mask:
          radial-gradient(farthest-side, 
           #000  calc(99%  - calc(var(--border) + var(--gap))),
           #0000 calc(100% - calc(var(--border) + var(--gap))) 
                 calc(99%  - var(--border)), 
           #000  calc(100% - var(--border)));
        transition: --angle .4s,--gap .4s;

         @include  vp-768 {
            width: 80%;
        }
      }
      img:hover {
        --angle: 0deg;
        --gap: 5px;
      }
      
    &__info {
        display: flex;
        flex-direction: column;
        max-width: none;
        width: 100%;
        padding: 15px;
        max-width: 500px;
        margin-left: 50px;
        z-index: 2;

        &__info-background {
            z-index: 2;
        }

        @include  vp-768 {
            max-width: 500px;
            margin-left: 0;

        }
    }
}

.curve {
    position: absolute;
    height: 250px;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.curve::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    transform: translate(85%, 60%);
    background-color: white;
}

.curve::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color:  #D4D6C9;
    transform: translate(-4%, 40%);
    z-index: -1;
}